@import url("https://fonts.googleapis.com/css2?family=Public+Sans");
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  height: 100vh;
  font-size: 18px;
  overflow-x: hidden;
}

/***
 * Navigation bar
 */

nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;
}

.nav-logo-container {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.nav-options {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.nav-btn-container {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-options > div {
  min-width: 100px;
  height: 100%;
  color: #a3a2a8;
  text-align: center;
}

.nav-options > div:hover {
  cursor: pointer;
  border-bottom: #4ecc7b;
  background-color: black;
}

.nav-btn {
  width: 10vw;
  height: 50px;
  font-size: 1vw;
  border-radius: 30px;
  color: white;
  border: 0;
  background: linear-gradient(to bottom right, #4ecc7b, #2ab7c8);
}

/***
 * Header
 */

header {
  height: 90vh;
  width: 100%;
  background-image: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  border-top: 8px solid transparent;
  background-clip: border-box;
  background-position: 44vw -250px;
  display: flex;
  align-items: center;
  background-color: #fafafa;
}

.header-left {
  padding: 40px;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-left .header-heading {
  width: 70%;
  font-size: 4vw;
}

.header-left .header-text {
  width: 70%;
  font-size: 1.3vw;
  color: #a3a2a8;
}

.header-left .header-btn-container {
  width: 70%;
}

.header-right {
  width: 50%;
  height: 100%;
  position: relative;
}

.header-img {
  position: absolute;
  top: -12vh;
  right: -9vw;
  height: 135%;
  width: 100%;
}

/***
 * Section
 */

section {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f5f7;
}

.section-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-row-1 {
  height: 40%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.section-row-1 .section-row-1-heading {
  font-size: 3vw;
}

.section-row-1 .section-row-1-text {
  width: 60%;
  font-size: 1.3vw;
  color: #a3a2a8;
}

.section-row-2 {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.section-row-2 > div {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-row-2 > div .section-row-2-header {
  font-size: 2vw;
}

.section-row-2 > div .section-row-2-text {
  font-size: 1.3vw;
  color: #a3a2a8;
  text-align: inherit;
  height: 50%;
}

/***
 * Main
 */

main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.main-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-row-1 {
  height: 30%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.main-row-1 .main-row-1-heading {
  font-size: 3vw;
}

.main-row-1 .main-row-1-text {
  width: 60%;
  font-size: 1.3vw;
  color: #a3a2a8;
}

.main-row-2 {
  width: 100%;
  height: 70%;
  display: flex;
  gap: 40px;
}

.main-row-2 > div > div {
  height: 50%;
}

.main-row-2 > div > div > img {
  height: 100%;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.main-card {
  background-color: white;
  border-radius: 10px;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-row-2 > div .main-card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10%;
}

.main-row-2 > div .main-card-body .author {
  color: #a3a2a8;
}

.main-row-2 > div .main-card-body .body-text {
  color: #a3a2a8;
  height: 125px;
}

.main-row-2 > div .main-card-body .body-heading {
  color: #363641;
}

/***
 * Footer
 */

footer {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d314e;
}

.footer-container {
  width: 80%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-col-1 {
  width: 33%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-col-2 {
  width: 33%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

.footer-col-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-col-2 > div > div {
  color: #ffffff;
}

.footer-col-3 {
  width: 33%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.copyright{
  color: #ffffff;
  color: #a3a2a8;
}

.social-icons {
  display: flex;
}

.social-icons > div {
  min-width: 50px;
}